@import './variables.scss';
/* The following line can be included in a src/App.scss */
@import '../../node_modules/bootstrap/scss/bootstrap';

.font-weight-bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.bg-blog-main {
  background: linear-gradient(to bottom, hsl(231deg 54% 98% / 52%), hsl(235deg 72% 27% / 73%)), url($img_background_blog_main);
  background-size: cover;
  background-position: center center;
  background-attachment: local;
}

.ck-powered-by {
  display: none !important;
}